@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

html body {
    background-color: rgb(226, 224, 224);
}

#delete {
    box-shadow: none;
    float: right;
}

#task {
    margin-bottom: 0;
    margin-top: 5px;
    float: left;
    
}